body
{
    text-align:center;
    margin:0;
    padding-top:500px;
}
.profile{
    border-radius:50%;
}
.menu{
    list-style:none;
    position:fixed;
    top:10px;
    right:30px;
    Z-index:10;
}
.links{
    display:inline ;
    padding-left:33px;
    padding-right:25px;
    font-family:fantasy;
    font-size:20px;
}


#welcome{
    position:absolute;
    bottom:0;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%); display:table;
    width:100%;
    height:100%;
}
#bio,#videos,#work,#writings{
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    padding:50px;  
}
.parallax-inner { display: table-cell; vertical-align: middle; }
.line{
    height:6px;
}
.links:hover{
    font-size: 25px;
    text-decoration: underline;
}
.contact1 h3
{
    display:inline;
}

















